<%- include('../includes/header.ejs') %>
    <main>
        <form class="login-form" action="/new-password" method="POST">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" minlength="6">
            </div>
            <button class="btn" type="submit">Update Password</button>
        </form>
    </main>
    <%- include('../includes/footer.ejs') %>