<%- include('../includes/header.ejs') %>

    <main>
        <form class="role-form" action="<% if (role) { %>/edit-role<% } else { %>/add-role<% } %>" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <% if (role) { %>
                <input type="hidden" name="id" value="<%= role._id %>">
                <% } %>
                    <div class="form-control">
                        <label for="name">RoleName</label>
                        <input id="name" type="text" name="name" value="<% if (role) { %><%= role.name %><% } %>" />
                    </div>
                    <div class="form-control">
                        <label for="description">Description</label>
                        <textarea id="description" type="text" name="description"
                            rows="3"><% if (role) { %><%= role.description %><% } %></textarea>
                    </div>
                    <button class="btn" type="submit">
                        <% if (role) { %>Update Role<% } else { %>Add Role<% } %>
                    </button>
        </form>
    </main>

    <%- include('../includes/footer.ejs') %>